<div class="content-header">
    <div class="leftside-content-header">
        <ul class="breadcrumbs">
            <li><i class="fa fa-bullhorn color-danger" aria-hidden="true"></i><a id="noauth" href="javascript:void(0);"></a></li>
        	<li><a>{$Think.lang.HOME_VIEW_MANAGE_NOAUTH_MSG1}</a></li>
        </ul>
    </div>
</div>
<div class="row animated bounce">
    <div class="col-sm-12">
        <div class="panel mt-xlg">
            <div class="panel-content">
            	<br /><br /><br />
                <h1 class="error-number">{$Think.lang.HOME_VIEW_MANAGE_NOAUTH_MSG1}</h1>
                <h2 class="error-name">{$Think.lang.HOME_VIEW_MANAGE_NOAUTH_MSG2}</h2>
                <p class="error-text">{$Think.lang.HOME_VIEW_MANAGE_NOAUTH_MSG3}</p>
            	<br /><br /><br />
            </div>
        </div>
    </div>
</div>
<script>
	$("#noauth").html(levelFirst);
</script>