<div class="content-header">
    <div class="leftside-content-header">
        <ul class="breadcrumbs" id="mongotab">
            <li><i class="" aria-hidden="true"></i><a href="#"></a></li>
        </ul>
    </div>
</div>
<script>
$(function(){
	//添加菜单名
	$("#mongotab").find("li i").addClass(levelFirstFa);
	$("#mongotab").find("li a").html(levelFirst);
	init_mongo_page();
});

function init_mongo_page(){
	$.ajax({
		type:"post",
		url:"{:U('Mongotab/index')}",
		async:true,
		success:function(json){
			
		}
	});	
}

</script>