<!--
	作者：lijl
	时间：2017-08-03
	描述：用户管理
-->
<div class="content-header">
    <div class="leftside-content-header">
        <ul class="breadcrumbs" id="customertab">
            <li><i class="" aria-hidden="true"></i><a href="#"></a></li>
        </ul>
    </div>
</div>
<div class="row animated fadeInUp">
	<div class="panel">
       	<div class="panel-content">
       		<div class="panel-heading"> 查询条件</div>
		    <div class="panel-body form-group" id="search-div" style="margin-bottom:0px;">
		        <label class="col-sm-1 control-label" style="text-align: right; margin-top:5px">{$Think.lang.HOME_VIEW_MANAGE_USERTAB_USERANME}</label>
		        <div class="col-sm-2">
		            <input type="text" class="form-control" name="username" />
		        </div>
		        <label class="col-sm-1 control-label" style="text-align: right; margin-top:5px">{$Think.lang.HOME_VIEW_MANAGE_USERTAB_NAME}</label>
		        <div class="col-sm-2">
		            <input type="text" class="form-control" name="name" />
		        </div>
		        <label class="col-sm-1 control-label" style="text-align: right; margin-top:5px">{$Think.lang.HOME_VIEW_MANAGE_USERTAB_IDCARD}</label>
		        <div class="col-sm-2">
		            <input type="text" class="form-control" name="idcard"/>
		        </div>
		        <div class="col-sm-3">
		            <button class="btn btn-primary" title="{$Think.lang.HOME_COMMON_SEARCH}" id="customertab-search">
		            	<span class="glyphicon glyphicon-search" aria-hidden="true" ></span>
		            </button>
		            <button class="btn btn-primary" title="{$Think.lang.HOME_COMMON_CLEAR}" id="customertab-clear">
		            	<span class="glyphicon glyphicon-remove" aria-hidden="true" ></span>
		            </button>
		        </div>
		    </div>
       		<table id="customertab-grid" class="table table-hover">
				
			</table>
    	</div>
	</div> 
	<div id="customertab-bar" class="btn-group pull-right" style="margin-right: 20px;">
		<if condition="$btnon eq 1">
			<noempty name="$btnInfos">
					<if condition="$btnInfos['export'] eq 1">
						<div class="dropdown" style="float: right;"  title="{$Think.lang.HOME_COMMON_EXPORT}">
						    <button type="button" class="btn dropdown-toggle " id="btn_export" data-toggle="dropdown">
						        <span class="glyphicon glyphicon-export" aria-hidden="true"></span>
						    </button>
						    <ul class="dropdown-menu" role="menu" aria-labelledby="btn_export">
						        <li role="presentation">
						            <a role="menuitem" tabindex="-1" href="javascript:;" onclick="exportlist(1)">{$Think.lang.HOME_COMMON_EXPORTCURRENT}</a>
						        </li>
						        <li role="presentation">
						            <a role="menuitem" tabindex="-1" href="javascript:;" onclick="exportlist(2)">{$Think.lang.HOME_COMMON_EXPORTALL}</a>
						        </li>
						    </ul>
					    </div>
					</if>
			</noempty>
		<else />
			<div class="dropdown" style="float: right;"  title="{$Think.lang.HOME_COMMON_EXPORT}">
			    <button type="button" class="btn dropdown-toggle " id="btn_export" data-toggle="dropdown">
			        <span class="glyphicon glyphicon-export" aria-hidden="true"></span>
			    </button>
			    <ul class="dropdown-menu" role="menu" aria-labelledby="btn_export">
			        <li role="presentation">
			            <a role="menuitem" tabindex="-1" href="javascript:;" onclick="exportlist(1)">{$Think.lang.HOME_COMMON_EXPORTCURRENT}</a>
			        </li>
			        <li role="presentation">
			            <a role="menuitem" tabindex="-1" href="javascript:;" onclick="exportlist(2)">{$Think.lang.HOME_COMMON_EXPORTALL}</a>
			        </li>
			    </ul>
		    </div>
	   </if>
	    
	</div>
	
</div>

<!--导出excel-->
<div style="display: none;">
	<form id="exportCustomertabExcel" action="{:U('Customertab/export')}" method="post">
	    <input name="type" />
	    <input name="pageInfo"/>
	</form>
</div>
<script>
var __customertabPageInfo = "";
$(function(){
	//添加菜单名
	$("#customertab").find("li i").addClass(levelFirstFa);
	$("#customertab").find("li a").html(levelFirst);
	//初始化按钮
	$('#customertab-search').bind('click',function(){loadCustomertab();}); 
	$('#customertab-clear').bind('click',function(){
		$("#search-div").find('input').each(function(){
			$(this).val("");
		});
	});
	
	//加载客户列表
	loadCustomertab();
});

//加载用户列表
function loadCustomertab(){
	$('#customertab-grid').bootstrapTable("destroy");
	$('#customertab-grid').bootstrapTable({
		contentType:"application/x-www-form-urlencoded; charset=UTF-8",
        method: 'post',
        dataType:'json',
        url:"{:U('Customertab/listinfo')}",
        queryParams:queryParams,//请求服务器时所传的参数
        sidePagination:'server',//指定服务器端分页
        
        height:600,//高度调整
        
        pageNumber: 1, //初始化加载第一页，默认第一页
        pagination:true,//是否分页
        pageSize:20,//单页记录数
        pageList:[20,50,100],//分页步进值
        
        sortable: true,                     
       	sortOrder:'ASC',
	    sortName:'id',
        
        showRefresh:true,//刷新按钮
        showColumns:true,
        clickToSelect: true,//是否启用点击选中行
        toolbarAlign:'right',//工具栏对齐方式
        buttonsAlign:'right',//按钮对齐方式
        toolbar:'#customertab-bar',//指定工作栏
        
	    singleSelect:true,
	    columns:[[    
			{field:'id',title:'id',valign:'middle',align:'center',visible:false} ,
			{field:'userimageurl',title:'{$Think.lang.HOME_VIEW_MANAGE_USERTAB_IMAGE}',valign:'middle',align:'center',formatter:function(value,row,index){return value=="" ? "<img width='50px' height='50px' alt='"+row.name+"' src='' />" : "<img width='50px' height='50px' alt='"+row.name+"' src='"+value+"' />"}},
			{field:'username',title:'{$Think.lang.HOME_VIEW_MANAGE_USERTAB_USERANME}',valign:'middle',align:'center',sortable:true},
			{field:'name',title:'{$Think.lang.HOME_VIEW_MANAGE_USERTAB_NAME}',valign:'middle',align:'center',sortable:true},
			{field:'idcard',title:'{$Think.lang.HOME_VIEW_MANAGE_USERTAB_IDCARD}',valign:'middle',align:'center',sortable:true},
			{field:'email',title:'{$Think.lang.HOME_VIEW_MANAGE_USERTAB_EMAIL}',valign:'middle',align:'center'},
	        {field:'phone',title:'{$Think.lang.HOME_VIEW_MANAGE_USERTAB_PHONE}',valign:'middle',align:'center',sortable:true},
	        {field:'status',title:'{$Think.lang.HOME_VIEW_MANAGE_USERTAB_STATUS}',valign:'middle',align:'center',sortable:true,formatter: function(value,row,index){return value== "1" ? "{$Think.lang.HOME_COMMON_ENABLE}" : "{$Think.lang.HOME_COMMON_UNENABLE}"; }}
	    ]],
	    onLoadSuccess:function(data){
	    	__customertabPageInfo = data.pageInfo;
	    },
  });
}
function queryParams(params){
	var searchObj = {};
	$("#search-div").find('input').each(function(){
		if($(this).val().trim() != ""){
			searchObj[$(this).attr("name")] = $(this).val().trim();
		}
	});
    return{
        page: params.limit,
        //请求第几页
        rows:params.offset,
        order:params.order,
        sort:params.sort,
        data:searchObj,
    }
}

//导出excel
function exportlist(type){
	$("input[name=type]").val(type);
	$("input[name=pageInfo]").val(JSON.stringify(__customertabPageInfo));
	$("#exportCustomertabExcel").submit();
}
</script>